body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 2;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(179, 96, 108, 0.281)
}

header {
    background-color: brown;
    color: bisque;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;

}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 25px;

}

header nav ul li a {
    color:white;
    text-decoration:solid;
}

.hero {
    background-image: url(images/3.jpg);
    background-size: cover;
    color: maroon;
    text-align: center;
    padding: 100px 20px;

}

/* 1 rem is equals to 16px 
by default pixels are set 16 */

.hero h2 {
    font-size: 2.5rem;
    border: 2px solid rgb(87, 9, 9);
    border-radius: 1px;
    display: inline-block;
    background-color: brown;
    color: bisque;
}

.hero button {
    background-color: brown;
    border: 5px;
    font-size: 25px;
    padding: 10px 10px;
    color: bisque;
    color: 1.2rem;  
    cursor: pointer;
    margin-top: 20px;
    border-radius: 25px;
    

}

.Menu {
    text-align: center;
    padding: 5px 5px;
}

.Menu h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: brown;
}

.Menu .menu-item {
    display: inline-block;
    width: 25%;
    height: 25%;
    margin: 0 1%;
    text-align: center;
    
}

.Menu .menu-item img {
    width: 95%;
    height: 60%;
    border-radius: 10px;

}

.Menu .menu-item h3 {
    margin: 15px 0 10px;

}

.Menu .menu-item p {
    font-family: 'Times New Roman', Times, serif;
    margin: 0 0 10px;
}

.Menu .menu-item span {
    font-size: 1rem;
    color: brown;
}

footer {
    background-color: brown;
    color: bisque;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}